<footer class="site-footer container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a class="att-logo-50x24"></a>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 copyright">
            <p>© 2016 AT&amp;T Corporation. All Rights Reserved.</p>
        </div>
        <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-4 links">
            <li><a class="#">Legal Notice</a></li>
            <li><a class="#">Privacy Policy</a></li>
            <li><a class="#">AT&amp;T Services</a></li>
            <li><a class="#">Feedback</a></li>
        </ul>
    </div>
</footer>