<header class="site-header container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img class="logo" src="app/images/attLogo.png"/>
            <div class="project">
                <span class="project-name">
                    P&amp;Cm_Insight
                </span>
                <span class="project-module">
                    Services
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="attid"><span>il812n</span></div>
        </div>
    </div>
</header>
    
  
