<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Customer</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Network</a></li>
        <li><a href="#">Infrastructure</a></li>
        <li><a href="#">Utilities</a></li>
        <li><a href="#">Misc.</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Keywords">
                <div class="input-group-addon"><a href="#"> </a></div>
            </div>
        </div>
      </form>
    </div>
</nav>
 
<!--
<div class="local-menu local-menu-primary"> 
    {{message}}
</div>
-->